<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "notepad/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Add new topic:</h2>
{% endblock page_header %}

{% block content %}
<form method="post" action="{% url 'notepad:new_topic' %}" class="form">
    {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <button name="submit" class="btn btn-primary">Add topic</button>
      {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'notepad:index' %}" />
</form>

{% endblock content %}
</body>
</html>